@import 'weather-icons';

$background: #161423;

h1, p {
	margin: 0;
}

body {
	align-items: center;
	background: $background;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}

#container {
	border: 1px solid #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	margin-top: 10em;
	text-align: center;
	padding: 2.5em;
	width: 40%;
}

.city {
	font-size: 2em;
	text-transform: uppercase;
}

.icon {
	font-size: 1.7em;
}

.temperature {
	font-size: 3.5em;
	font-weight: 700;
	margin-bottom: .2em;
}

.weather-container {
	font-weight: 300;
	margin-bottom: .5em;
}

.weather {
	font-style: italic;
}

button {
	background: $background;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	font-size: 1.2em;
	padding: .5em 1em;

	&.active,
	&:hover {
		background: #fff;
		color: $background;
		cursor: pointer;

		&.active {
			cursor: auto;
		}
	}

	&:focus {
		outline: none;
	}
}
